{%extends 'base.html'%}
{%block head%}
<title>Posts</title>
<link rel="stylesheet" href="{{url_for('static',filename='css/posts.css')}}">
{%endblock%}
{%block content%}
<div class="d-flex justify-content-between">
<h1>All posts</h1> 
<a href="/posts/new" class="btn btn-success h-50">Create New Post</a>
</div>
{%for post in all_posts%}
<div class="container-fluid pb-5">
    <h2>{{post.title}}</h2>
    {%if post.author%} 
        <small> Author: {{post.author}} on {{post.date_posted}}</small>
        {%else%}
            <small>Author: N/A on {{post.date_posted}}</small> 
        {%endif%}
    <br>
    <br>
    <p style="white-space: pre-wrap;">{{post.content}}</p>
        <a class='btn btn-primary' href="/posts/edit/{{post.id}}">Edit</a>
        <a class='btn btn-danger' href="/posts/delete/{{post.id}}">Delete</a>
        <br>
        <hr>

</div>
{%endfor%}
{%endblock%}
